body 
{
    background-color: #252422;
}
h1
{
    color: white;
}
.contain
{
    text-align: center;
    background-color: #333333;
    display: flex;
}
.option
{ 
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.divimage
{
    width: 100%;
    height: 600px;
    margin-top: 150px;
    border: solid 10px;
    border-radius: 10px;
    box-shadow: black 5px 5px;
    border-color: #252422;
}
.divslider
{
    background-color: #252422;
    border:  solid;
    margin-right: 50px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    border-radius: 50px;
    color: white;
    box-shadow: black 5px 5px;
    border-color: #252422;
    
}
.titre
{
    text-align: center;
}
.per
{
   padding: 10px;
}
.filtre
{
    padding: 10px;
}
.barre
{
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #252422;
    color: white;
    border-radius: 20px;
    padding: 10px;
}
.bouton
{
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: 10px;
}
